{% extends 'base.html.twig' %}

{% block body %} 

 <div class="container h-100 my-4 py-5">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <div class="brand_logo_container">
                        <img src="assets/img/logimg.png" class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="post">
                    {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

                    <div class="input-group mb-3">
                            
                       <h6 id="textlog" class="text-center">Merci de vous connecter afin d'acceder à votre espace collaborateur.</h6>
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                        {#<input type="text" name="" class="form-control input_user" value="" placeholder="identifiant">#}
                        <input type="email" value="{{ last_username }}" id="inputEmail" class="form-control input_user" name="email" placeholder="Email" required>
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            {#<input type="password" name="" class="form-control input_pass" value="" placeholder="mot de passe">#}
                            <input type="password" id="inputPassword" class="form-control input_pass" name="password" placeholder="Password" required>
                        </div>
                          {#<div class="d-flex justify-content-center mt-3 login_container">
                              <button type="button" name="button" class="btn login_btn">Connexion</button>
                          </div>#}
                        <input type="submit" class="btn login_btn" value="Log In" >

                         <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
                    </form>
                </div>
                
              
            </div>
        </div>
    </div>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #} 


    
   
 

    <!-- Remind Passowrd -->
    {#<div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>#}


    
{% endblock %}
