{% extends('base.html.twig') %}

{% block body %}
        <nav id="navbar" class="navbar navbar-expand-lg bg-dark px-5">
                <a class="navbar-brand text-white" href="#"><h1>Grand Angle</h1></a>
                
                <button class="navbar-toggler navbar-dark" type="button" 
                data-toggle="collapse" 
                data-target="#humberger" 
                >
                        <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="humberger">
                        <ul class="navbar-nav ml-auto pr-3">
                                {# <li class="nav-item">
                                        <a class="nav-link" href="" target="_blank">info</a>
                                </li>#}
                                
                                <li class="nav-item"> 
                                        <a class="nav-link" href="#">accueil</a>
                                </li>

                                <li class="nav-item"> 
                                        <a class="nav-link" href="#">à propos</a>
                                </li> 

                                <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle"
                                                href="#" 
                                                id="navbarDropdown"
                                                role="button"
                                                data-toggle="dropdown">
                                                language
                                        </a>
                                        <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">French</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">English</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">中文</a>
                                        </div>
                                </li>                                   
                        </ul>
                        {# <form class="form-inline px-2"> 
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                        </form> #}    

                        {# <a href="/login" class="btn btn-light">connexion</a> #}
                </div>
        </nav>

{% endblock %}
     
